<div class="wrapper mt-4">
  <form class="panel" [formGroup]="optionsFormGroup">
    <div class="w-100">
      <div class="slider_input">
        <mat-form-field>
          <mat-label>Errors</mat-label>
          <input
            matInput
            type="number"
            formControlName="errors"
            [value]="optionsFormGroup.value.errors"
            max="1000"
          />
        </mat-form-field>

        <mat-slider
          thumbLabel
          min="0"
          max="10"
          step="0.01"
          class="slider"
          aria-label="unit(s)"
          formControlName="errors"
          [value]="optionsFormGroup.value.errors"
        ></mat-slider>
      </div>
    </div>

    <div class="row w-100">
      <div class="select">
        <mat-form-field>
          <mat-select
            formControlName="country"
            [ngClass]="'flag-icon-' + optionsFormGroup.value.country"
          >
            <mat-option value="ru" class="flag-icon">
              <img
                src="https://flagicons.lipis.dev/flags/4x3/ru.svg"
                width="24"
                height="24"
              />
            </mat-option>
            <mat-option value="us" class="flag-icon">
              <img
                src="https://flagicons.lipis.dev/flags/4x3/us.svg"
                width="24"
                height="24"
              />
            </mat-option>
            <mat-option value="pl" class="flag-icon">
              <img
                src="https://flagicons.lipis.dev/flags/4x3/pl.svg"
                width="24"
                height="24"
              />
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="cell">
        <div class="seed">
          <mat-form-field class="mr-2">
            <mat-label>Seed</mat-label>
            <input matInput placeholder="Seed" formControlName="seed" />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            class="ml-2 shuffle_button"
            (click)="randomizeSeed()"
          >
            <mat-icon>shuffle</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="table scroll">
    <app-scroll-container
      [more]="true"
      [scrollOffset]="2500"
      [scrollDelay]="1000"
      (scrolled)="handleScroll($event)"
    >
      <mat-table [dataSource]="dataSource">
        <ng-container
          *ngFor="let column of displayedColumns"
          [matColumnDef]="column"
        >
          <mat-header-cell *matHeaderCellDef>
            {{ column | titlecase }}
          </mat-header-cell>

          <mat-cell *matCellDef="let item"> {{ item[column] }} </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </app-scroll-container>
  </div>
</div>
<div class="export">
  <button mat-raised-button color="primary" (click)="exportData()">
    <mat-icon>file_download</mat-icon> Export
  </button>
</div>
