<div class="wrapper mt-4">
  <div class="panel">
    <div class="w-100">
      <div class="slider_input">
        <mat-form-field>
          <mat-label>Errors</mat-label>
          <input matInput type="text" [(ngModel)]="errorsCount" />
        </mat-form-field>

        <mat-slider
          thumbLabel
          min="0"
          max="1000"
          step="0.01"
          class="slider"
          aria-label="unit(s)"
          [(ngModel)]="errorsCount"
        ></mat-slider>
      </div>
    </div>

    <div class="row w-100">
      <div class="select">
        <mat-form-field>
          <mat-select
            [(value)]="selectedCountry"
            [ngClass]="'flag-icon-' + selectedCountry"
          >
            <mat-option value="ru" class="flag-icon">
              <img
                src="https://flagicons.lipis.dev/flags/4x3/ru.svg"
                width="24"
                height="24"
              />
            </mat-option>
            <mat-option value="us" class="flag-icon">
              <img
                src="https://flagicons.lipis.dev/flags/4x3/us.svg"
                width="24"
                height="24"
              />
            </mat-option>
            <mat-option value="pl" class="flag-icon">
              <img
                src="https://flagicons.lipis.dev/flags/4x3/pl.svg"
                width="24"
                height="24"
              />
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="cell">
        <div class="seed">
          <mat-form-field class="mr-2">
            <mat-label>Seed</mat-label>
            <input matInput placeholder="Seed" />
          </mat-form-field>

          <button mat-raised-button color="primary" class="ml-2 shuffle_button">
            <mat-icon>shuffle</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table"></div>
</div>
